body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: $text;
    user-select: none;
}

.clicker {
    height: 100%;
    width: 100%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}

.wrapper {
    max-width: 660px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5rem;
}

.start,
.again {
    width: 200px;
    height: 75px;
    background: $accent;
    box-shadow: 5px 10px;
}

.again {
    display: none;
}

.start:hover,
.again:hover {
    background: $hoverAccent;
    cursor: pointer;
}

.start:active,
.again:active {
    box-shadow: none;
}

@keyframes blinkingText{
    0%{     color: $text;    }
    49%{    color: $text; }
    60%{    color: transparent; }
    99%{    color: transparent;  }
    100%{   color: $text;    }
}

.countdownBar {
    animation: slide 10s normal forwards;
    border-radius: 100px;
    background: $bar;
    height: 30px;
    display: none;
}

@keyframes slide {
    0% { width: 100%; }
    100% { width: 0; }
}